@import '../../../mixins';

.mail-list{
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    position: relative;

    & .select-option{
        position: absolute;
        top:50%;left: 50%;
        transform: translate(-50%, -50%);
    }

    & .selected{
        background-color: #90CAF9;

        & .mail-item-image{
            background-color: #f5f5f5;
        }
    }
}

ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    padding: 0 12px;
    cursor: pointer;    

    & .mail-item-image{
        height: 40px;
        width: 40px;
        border-radius: 50%;        
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        & .initials{
            @include initials(40px);            
        }
    }
}