<div class="h-100 p-0 mail-list">
    <div class="w-100 text-center select-option p-1" *ngIf="!hasMails">
        <img src="assets/selectoption.svg" class="animate__animated animate__zoomIn">     
        <span class="mat-h1">Select folder to view mails</span>   
    </div>
    <ul *ngIf="hasMails">        
        <li class="container-fluid" [mail-select]="mail.ID" *ngFor="let mail of mails">            
            <div matRipple class="row p-2" [ngClass]="{selected: mail.IS_SELECTED}">
                <div class="col-2">
                    <div class="mail-item-image animate__animated animate__zoomIn animate__faster">
                    </div>
                </div>
                <div class="col-10">
                    <span class="mat-h2">{{mail.SENDER}}</span>
                    <span class="mat-small d-block">{{mail.SUBJECT}}</span>
                    <span class="mat-small d-block" style="direction: rtl;">{{mail.DATE}}</span>
                    <div *ngIf="!mail.IS_READED" class="animate__animated animate__zoomIn animate__faster" style=" position: absolute;top:10px;right: 10px; width: 5px;height: 5px;background-color: #2196F3;border-radius: 50%;">

                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>