<div *ngIf="selectedMail">
    <header style="padding: 20px 30px;background-color: #f6f6f6;" class="shadow-1">
        <div class="display-inline-block" style="width: 75%;">
            <span style="font-size: 1.7rem;" class="display-block">{{selectedMail.SENDER}}</span>
            <span class="display-block" style="margin-top: 1rem;">{{selectedMail.SUBJECT}} </span>
        </div>        
        <div class="display-inline-block" style="width: 20%;text-align: right;vertical-align: top;">
            <img src="assets/icons/trash-alt-solid.svg" style="width: 20px;height: 20px;cursor: pointer;">
            <span class="display-block" style="margin-top: 1rem;">{{selectedMail.MAIL_DATE}} </span>
        </div>
    </header>
    <div style="padding: 20px 30px;">
        <span>{{selectedMail.MAIL_CONTENT.CONTENT}}</span>
    </div>
</div>