<div class="container-fluid p-0 mail-preview" fxLayout="column" *ngIf="hasSelectedMail">
    
    <header fxFlex="80px" class="mail-header container-fluid p-0">
        <div fxFlex="80px" class="position-relative">
            <div class="sender-icon">
            </div>
        </div>
        <div fxFlex>
            <span class="mat-h1 display-block m-0">{{selectedMail.SENDER}}</span>
            <span class="mat-body display-block m-0">{{selectedMail.SUBJECT}}</span>
            <span class="mat-body display-block m-0">{{selectedMail.DATE}}</span>
        </div>
        <div fxFlex="45px" class="text-center">
            <button type="button" mat-icon-button class="vertical-center">
                <fa-icon [icon]="faTrash" style="font-size: 21px;color:#F44336"></fa-icon>
            </button>
        </div>
    </header>
    <div fxFlex class="padding2030 text-center centralize">        
        <div style="width: 500px;" class="">
            <img src="assets/mail-reading.svg" style="width: 100%;">
        </div>
        <span class="mat-display-1 display-block m-0">{{selectedMail.CONTENT.CONTENT}}</span>
        <span class="mat-small display-block m-0">This app is built on <b>Angular framework 11.</b></span>
        <span class="mat-small display-block m-0">This app is just for demonstrating the mail in different folders and mail preview.</span>
        <span class="mat-small display-block m-0">Thank you so much for exploring this app.</span>
    </div>
</div>

<div *ngIf="!hasSelectedMail" class="mail-preview-image">
    <img src="assets/mail.svg" class="animate__animated animate__zoomIn">
    <span class="mat-h1">Select mail to preview</span>
</div>