<div class="h-100">
    <div class="app-area">
        <!-- Side bar -->
        <!-- Content list -->
        <div class="display-inline-block h-100 shadow-1" style="width:10%;border: 1px solid #262626;">
            <app-side-bar></app-side-bar>
        </div>
        <div class="display-inline-block h-100" style="width:20%;border:1px solid #ccc;">
        </div>
        <!-- Content area -->
        <div class="display-inline-block h-100" style="width:69%">
        </div>
    </div>
    <div style="height: 5%;">
        <app-footer></app-footer>
    </div>

</div>