<div class="h-100 sidebar">
    <!--compose section-->
    <div class="compose-section">
        <span class="compose-label">Compose</span>
        <img src="assets/icons/pencil-alt-solid.svg" class="icon">        
    </div>

    
    
    
    <ul>
        <li>
            <div class="container">
                <div class="row">
                    <!--Icon-->
                    <div class="col-2 p-2">
                        <img src="assets/icons/inbox-solid.svg" class="icon">        
                    </div>
                    <div class=" p-2">
                        <span>Inbox</span>
                    </div>
                    <div class="col-2 p-2" style="text-align: right;">
                        <span>4</span>
                    </div>
                </div>                
            </div>
        </li>
        <li>
            <div class="row">
                <!--Icon-->
                <div class="col-2 p-2">
                    <img src="assets/icons/paper-plane-solid.svg" class="icon">        
                </div>
                <div class=" p-2">
                    <span>Sent</span>
                </div>
                <div class="col-2 p-2" style="text-align: right;">
                    <span>0</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <!--Icon-->
                <div class="col-2 p-2">
                    <img src="assets/icons/edit-solid.svg" class="icon">        
                </div>
                <div class=" p-2">
                    <span>Draft</span>
                </div>
                <div class="col-2 p-2" style="text-align: right;">
                    <span>0</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <!--Icon-->
                <div class="col-2 p-2">
                    <img src="assets/icons/trash-alt-solid.svg" class="icon">        
                </div>
                <div class=" p-2">
                    <span>Trash</span>
                </div>
                <div class="col-2 p-2" style="text-align: right;">
                    <span>3</span>
                </div>
            </div>
        </li>
    </ul>
</div>