.sidebar-container{
    transition: all 0.2s ease-in-out;

}

@media only screen and (max-width: 425px){
    .mail-list{
        // flex: 1 1 100% !important;        
        // max-width:100% !important;
        // min-width: 100% !important;

        flex: 1 1 0% !important;
        max-width: none !important;
        min-width:  none !important;                
    }

    .mail-preview{
        display: none !important;
    }
}

@media only screen and (max-width: 786px){
    .mail-preview-image{
        width: 350px !important;
        height: 350px !important;        
    }
}

@media only screen and (max-width: 1024px){
    .sidebar-container{
        flex: 1 1 60px !important;        
        max-width: 60px !important;
        min-width: 60px !important;
    }
}

