.sidebar-container{
    transition: all 0.2s ease-in-out;

}

@media only screen and (max-width: 1024px){
    .sidebar-container{
        flex: 1 1 60px !important;        
        max-width: 60px !important;
        min-width: 60px !important;
        background-color: red;
    }
}