<div style="border: 1px solid #ccc" class="h-100">
    <ul>
        <li>
            <header style="padding: 10px 15px;">
                <span>Dribble digest</span>
            </header>
            <div style="padding: 10px 15px; width: 65%;" class="display-inline-block">
                <span class="content">DRIBBBLE</span>
            </div>
            <div style="padding: 10px 15px; width: 20%" class="display-inline-block">
                <span class="content">JAN 09, 2016</span>
            </div>
        </li>
    </ul>
</div>