ul li{
    list-style-type: none;
    padding:10px 15px;
    border-bottom:1px solid #ccc;
}

ul li:hover{
    background-color: #ccc;
    cursor: pointer;
}

.content{
    font-size: 12px;
    color: #999
}