<div style="border: 1px solid #ccc" class="h-100">
    <ul>
        <li *ngFor="let mail of data">
            <header style="padding: 10px 15px;position: relative;">
                <span>{{mail.SENDER}}</span>
                <div *ngIf="!mail.IS_READED" style="border:1px solid" style="width:5px; height: 5px; background-color: blue; border-radius: 50%;position: absolute;top:10px;right:10px"></div>
            </header>
            <div style="padding: 10px 15px; width: 65%;" class="display-inline-block">
                <span class="content">{{mail.SUBJECT}}</span>
            </div>
            <div style="padding: 10px 15px; width: 20%" class="display-inline-block">
                <span class="content">{{mail.MAIL_DATE}}</span>
            </div>
        </li>
    </ul>
</div>