.sidebar{
    background-color: rgb(53,54,58);
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6);
    position: relative;

    & fa-icon{
        color: #f5f5f5;
        font-size: 21px;      
        cursor: pointer;          
    }

    & .bottom-list{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;                
    }
}