<div class="sidebar">
    <mat-nav-list>
        <mat-list-item style="background-color:#2196F3" matTooltip="Compose" matTooltipPosition="right">
            <fa-icon mat-list-icon [icon]="faEdit" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
            <div mat-line>Compose</div>
            
        </mat-list-item>
        <mat-list-item  matTooltip="Inbox" matTooltipPosition="right" folder="inbox">
            <fa-icon mat-list-icon [icon]="faInbox" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
            <div mat-line>Inbox</div>
            <div class="counter-bubble animate__animated animate__zoomIn animate__faster">
                {{inboxCounter}}
            </div>
        </mat-list-item>
        <mat-list-item matTooltip="Sent" matTooltipPosition="right" folder="sent">
            <fa-icon mat-list-icon [icon]="faPaperPlane" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
            <div mat-line>Sent</div>
        </mat-list-item>
        <mat-list-item matTooltip="Draft" matTooltipPosition="right" folder="draft">
            <fa-icon mat-list-icon [icon]="faFile" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
            <div mat-line>Draft</div>
        </mat-list-item>
        <mat-list-item matTooltip="Trash" matTooltipPosition="right" folder="trashed">
            <fa-icon mat-list-icon [icon]="faTrash" class="animate__animated animate__zoomIn animate__faster"></fa-icon>
            <div mat-line>Trash</div>
        </mat-list-item>
    </mat-nav-list>
</div>