@import '~@angular/material/theming';

@include mat-core();

$Mailer-primary: mat-palette($mat-indigo);
$Mailer-accent: mat-palette($mat-pink, A200, A100, A400);

$Mailer-warn: mat-palette($mat-red);

$Mailer-theme: mat-light-theme((
  color: (
    primary: $Mailer-primary,
    accent: $Mailer-accent,
    warn: $Mailer-warn,
  )
));

@include angular-material-theme($Mailer-theme);