html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.padding2030{
    padding: 20px 30px;
}

.padding1015{
    padding: 10px 15px;
}

.padding015{
    padding: 0 15px;
}

.display-block{
    display: block;
}